@charset "UTF-8";

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card {
            position: relative;
        }

        img {
            width: clamp(300px, 5vw, 600px);
        }

        .trending-rate {
            background-color: var(--color-neutral-0);
            position: absolute;
            bottom: 70px;
            right: 30px;
            padding: 5px 10px;
            border-radius: 5px;

            i {
                color: var(--color-secondary-1);
            }
        }
            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-7);
                }
            }
        }
    }

#about {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url(../assets/images/about/bg-about.png);
    min-height: calc(100vh - 96px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;

        .title {
        color: var(--color-neutral-0);

        &::before {
        background-color: var(--color-secondary-1);
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

            .about-image {
                width: clamp(300px, 50vw, 500px);
            }

            .about-info {
                padding: 24px;
                border-radius: 20px;
                background-color: var(--color-primary-2);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                h3 {
                    color: var(--color-neutral-0);
                    font-size: 1.8rem;
                    margin-bottom: 4px;

                    span {
                        color: var(--color-secondary-1);
                    }
                }

                p {
                    color: var(--color-neutral-0);
                    font-size: 1rem;

                    span {
                        color: var(--color-secondary-1);
                        font-weight: 600;
                    }
                }
            }
    }
}

#products {
    padding: 48px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 58px;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-1);
        background-image: url('../assets/images/products/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 16px;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            width: 300px;
            position: relative;
            top: -70px;
            filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.41));
        }

        .product-content {
            margin-top: -70px;

            h3 {
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                flex-direction: column;

                span {
                    color: var(--color-secondary-1);
                    font-size: 1.2rem;
                }
            }
        }
    }
}